.Soscontain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Franklin Gothic Medium';
  }
  
  .sos {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 80%;
    height: auto;
  }
  
  .sos ul {
    text-align: left;
    list-style-type: decimal;
  }
  
  .sos li {
    text-align: left;
    padding: 5px 0px;
  }
  
  .sos button {
      color: black;
      background-color: lightgreen;
      border: 2px solid #41d941;
      padding: 6px 20px;
      border-radius: 15px;
      cursor: pointer;
      margin-left: 5px;
  }