@font-face {
  font-family: pixel;
  src: url(Silkscreen-Regular.ttf);
}

@font-face {
  font-family: pixelbold;
  src: url(Silkscreen-Bold.ttf);
}

.DHsinglecontain {
  width: 1920px;
  height: 1080px;
  display: flex;
  justify-content: center;

  /* Set initial position to top of the screen */
  transform: translateY(-100%);
  /* Set transition for smooth animation */
  transition: transform 1s ease-in-out;
}

/* Add a class to trigger the animation */
.slide-in {
  /* Move to the original position (0%) */
  animation: slideIn 1s ease-in-out forwards;
}

@keyframes slideIn {
  from {
    transform: translatey(-100%);
  }

  to {
    transform: translatey(0);
  }
}

.DHduooverlay {
  width: 75%;
  height: 125px;
  display: flex;
  font-size: 30px;

  background-color: black;
  font-family: pixel;
  color: white;

  border: solid;
  border-color: #75cb0b;
  border-width: 6px;
  border-radius: 8px;
}

h4 {
  margin: 0;
  text-align: center;
}

.DHDuoinfo {
  width: 32%;
  color: #32b5fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dhDuo {
  display: flex;
  align-items: center;
  width: 34%;
}

.dhduoplayers {
  width: 85%;
}

.DHduogamer img {
  margin-left: 0;
  width: 45px;
  height: 45px;
}

.DHduopronoun {
  width: 35%;
  color: #75cb0b;
}

.DHduoscore {
  width: 15%;
  font-size: 50px;
  color: #32b5fc;
  display: inherit;
  justify-content: center;
  align-items: center;
  font-family: pixelbold;
}

.DHduotag {
  width: 55%;
}

.DHduogamer h1 {
  font-size: large;
  display: inherit;
  justify-content: center;
  align-items: center;
}

.DHduogamer {
  display: flex;
  align-items: center;
  width: 100%;
}
