@font-face {
  font-family: pixel;
  src: url(Silkscreen-Regular.ttf);
}

@font-face {
  font-family: pixelbold;
  src: url(Silkscreen-Bold.ttf);
}

.DHsinglecontain {
  width: 1920px;
  height: 1080px;
  display: flex;
  justify-content: center;

  /* Set initial position to top of the screen */
  transform: translateY(-100%);
  /* Set transition for smooth animation */
  transition: transform 1s ease-in-out;
}

/* Add a class to trigger the animation */
.slide-in {
  /* Move to the original position (0%) */
  animation: slideIn 1s ease-in-out forwards;
}

@keyframes slideIn {
  from {
    transform: translatey(-100%);
  }

  to {
    transform: translatey(0);
  }
}

.DHsingleoverlay {
  width: 75%;
  height: 80px;
  display: flex;
  font-size: 30px;

  background-color: black;
  font-family: pixel;
  color: white;

  border: solid;
  border-color: #75cb0b;
  border-width: 6px;
  border-radius: 8px;
}

h4 {
  margin: 0;
  text-align: center;
}

.DHinfo {
  width: 30%;
  color: #32b5fc;
}

.DHgamer {
  display: flex;
  align-items: center;
  width: 35%;
}

.DHgamer img {
  margin-left: 0;
  width: 50px;
  height: 50px;
}

.DHpronoun {
  width: 30%;
  color: #75cb0b;
  
}

.DHtag {
  width: 50%;
}

.DHgamer h1 {
  font-size: x-large;
  display: inherit;
  justify-content: center;
  align-items: center;
}

.DHscore {
  width: 10%;
  color: #32b5fc;
  font-family: pixelbold;
}